@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

.landing {
  position: relative;
  display: flex;
  height: 100vh;
  overflow: hidden;

  @media screen and (max-width: 1024px) {
    margin: auto;
    padding: auto;
  }

  /* ---------------------- IMAGE ---------------------- */
  img {
    pointer-events: none;
    user-select: none;
    object-fit: cover;

    @media screen and (max-width: 768px) {
      margin-top: 40px;
      object-position: -650px;
    }

    @media screen and (max-width: 425px) {
      object-position: -590px;
    }

    @media screen and (max-width: 395px) {
      object-position: -550px;
    }

    @media screen and (max-width: 376px) {
      object-position: -450px;
    }
  }

  /* ---------------------- SLIDER ---------------------- */
  .sliderContainer {
    position: absolute;
    top: calc(100vh - 300px);
  }

  .slider {
    position: relative;
    white-space: nowrap;

    @media screen and (max-width: 1024px) {
      margin: 190px;

      p:nth-child(1),
      p:nth-child(2) {
        font-size: 80px;
      }
    }

    @media screen and (max-width: 768px) {
      p:nth-child(1),
      p:nth-child(2) {
        font-size: 40px;
        top: 30px;
      }
    }

    @media screen and (max-width: 378px) {
      p:nth-child(1),
      p:nth-child(2) {
        font-size: 40px;
        top: -400px;
      }
    }

    p {
      color: white;
      font-family: Lexend;
      position: relative;
      margin: 0;
      font-size: 230px;
      font-weight: 500;
      padding-right: 50px;
      cursor: default;
      user-select: none;

      &:hover {
        background: linear-gradient(180deg, #ffffff 0%, #72c2ffa7 100%);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        transition: color 0.5s ease-in-out;
      }
    }

    p:nth-of-type(2) {
      position: absolute;
      left: 100%;
      top: 0;
    }
  }

  /* ---------------------- DESCRIPTION ---------------------- */
  .description {
    position: absolute;
    top: 48%;
    left: 65%;
    color: white;
    font-weight: 300;

    p {
      font-family: Lexend;
      margin: 0 0 10px 0;
      font-size: 24px;
      font-weight: 500;

      &:hover {
        cursor: default;
        background: linear-gradient(45deg, #dafff8 0%, #c1ff5dcd 100%);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        transition: color 0.3s ease-in-out;
        text-shadow: 2px 1px rgba(0, 0, 0, 0.7);
      }
    }

    svg {
      transform: scale(2);
      margin-bottom: 10px;
    }

    @media screen and (max-width: 768px) {
      top: 80%;
      left: 10%;
      font-size: 12px;

      p {
        font-size: 20px;
      }
    }
  }
}
